body {
  margin: 0;
}

header {
  background-color: #ffe500;
  padding-bottom: .5em;
}

footer {
  background-color: #ffe500;
  text-align: center;
}

main {
  background-color: white;
  padding: 0.5em;
}

h1, h2 {
  font-family: 'Sigmar One', cursive;
  color: #b20953;
  margin-top: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

li {
  display: inline-block;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #b2a212;
  padding: .3em;
  border-radius: 4px;
}

a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #cc1465;
  padding: .3em;
  border-radius: 4px;
}

.current {
  text-decoration: none;
  color: #fff;
  background-color: #b20953;
  padding: .3em;
  border-radius: 4px;
}

img{
  width: 100%;
  max-width: 400px;
}
